//.carousel img{ width: 100%;}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: pink;
  overflow: hidden;
  top: 100px;
  
}
.lunbo{
    width: 100%;
    height: auto;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.slick-dots{
  top: 145px;
    
}
.slick-list{
    height: 150px;
    
}

